/* DARK MODE SWITCH */
.theme-switcher {
  display: flex;
  align-items: center;
  z-index: 100;
  position: fixed;
  top: 15px;
  right: 25px;
  cursor: pointer;
}

.theme-switcher span {
  margin-right: 10px;
  font-size: 1rem;
  color: var(--on-background);
}

.fas {
  font-size: 30px;
}

.fas:hover {
  transform: scale(1.1);
}