/* STICKY NAVBAR STYLES */
nav {
  display: flex;
  justify-content: space-between;
  color: rgb(51, 51, 51);
  align-items: center;
  padding: 5px 5%;
  position: sticky;
  top: 0;
  z-index: 100;
  height: 60px;
  background: whitesmoke;
}

.nav-left h1 {
  font-size: 2.2rem;
  font-weight: 900;
  transition: all 0.3s ease;
}

#navbar.scrolled .nav-left h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

.nav-right a {
  margin-left: 20px;
  color: hsl(0, 0%, 13%);
  transition: color 0.3s;
}

.nav-right a:hover {
  color: hsl(0, 0%, 25%);
}

/* DARK MODE SWITCH */
.theme-switcher {
  display: flex;
  align-items: center;
  z-index: 100;
  position: fixed;
  top: 15px;
  right: 25px;
  cursor: pointer;
}

.theme-switcher span {
  margin-right: 10px;
  font-size: 1rem;
  color: var(--on-background);
}

.fas {
  font-size: 30px;
}

.fas:hover {
  transform: scale(1.1);
}